.card {
    width:17%;
    height:23.5vh;
    border-radius: 2px;
    border: 3px solid black;
    margin: 2px;
    color:transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.instructionPanel {
    display: inline-block;
    position: absolute;
    overflow: hidden;
}



.cardHolder {
    float: left;
}